[data-theme="light"] {
  --color-primary: oklch(45% 0.24 277.023);

  --color-secondary: oklch(65% 0.241 354.308);

  --color-success: oklch(76% 0.177 163.223);

  --color-warning: oklch(82% 0.189 84.429);

  --color-error: oklch(71% 0.194 13.428);
}
